<div class="main">
    <h1 style="color: black;">SERVICES</h1>

    <div class="one">


        <img src="../../assets/images/service 1.jpg" class="img1">
        <h3>IO Module to Monitor and Control Factory Equipments</h3>
        <p>One of the main challenges in factory digitization is collecting different data types from existing, old and
            heterogeneous machines on the factory floor.</p>


    </div>


    <div class="two">
        <img src="../../assets/images/ev charging.jpg" class="img2">
        <h3>Multi-Level Platform Integration - EV Charging</h3>
        <p>Our client was facing challenges in the real time monitoring and connectivity of their EV fleet charging operation. The existing system had multiple limitations such as ...
        </p>
       



    </div>
    <div class="three">
        <img src="../../assets/images/computer vision.jpg" class="img3">
        <h3>Computer Vision for Robots in Production Line</h3>
        <p>One of the main challenges in the factory digitization is collecting different types of data from existing,
            aged, and heterogeneous machines in the factory floo</p>
    </div>
    <!-- <div class="four">
        <img src="../../assets/images/engineered centre.jpg" class="img4">

    </div>
    <div class="five">
        <img src="../../assets/images/m2m.jpg" class="img5">

    </div>
    <div class="six">
        <img src="../../assets/images/test automation.jpg" class="img6">

    </div> -->



</div>